.DS_Store
.vscode/settings.json
samples/.env
samples/__pycache__/prompts.cpython-313.pyc
src/__pycache__/
.ipynb_checkpoints/
.next
config.yaml
src/chat_ui/screens/__pycache__/
src/chat_ui/widgets/__pycache__/
src/chat_ui/__pycache__/
test/pg-expense-prisma/node_modules/
.kiro/
logs/